/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
golandia-firebase-adminsdk-y96jp-1b919b5d08.json
julico-diagrama-firebase-adminsdk-mn7ta-0b40469a5e.json
julio-foto-firebase-adminsdk-okk6n-9bb04f755a.json
